.title{
    margin-top:-700px;
    margin-left:100px;
    font-size:45px;
    color:rgb(255, 255, 255)
}
.bgimg{
    margin-top:0px;
    width:100%;
}
.right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 2s;
    transform: scale(1.08);
  } 
  .image {
    width: 900px;
    height: 600px;
    border-radius: 10px;
    margin-top: 600px;
  }
/* .title{
    margin-top:-700px;
    margin-right:500px;
    font-weight:bold;
    color:white;
}
.img{
    width:20%;
    height:300px;
}
.img-grp{
    margin-top:550px;
}
.slider {
    position: absolute;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 1200px;
    height: 600px;
    border-radius: 10px;
  }
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 2s;
    transform: scale(1.08);
  } */
