.nav-item:hover{
    color:black;
    background-color:white;
}
a{
    text-decoration:none;
}
li{
    list-style-type:none;
    display:inline-block;
    padding:8px;
    
}
.right{
    margin-right:200px;
}
