.title-pongal{
    text-align:center;
    background-color:#d4380d;
    font-size:24px;
    font-family: sans-serif;
}
.card-item{
    margin-left:100px;
    padding:25px;
    box-shadow:2px 2px 2px black;
    display:inline-flex;
}