.form{
    border:2px solid black;
    padding:40px;
    width:70%;
    margin:0 auto;
    background-color:whitesmoke
}
.card-content{
    border:2px solid black;
    width:18%;
    padding:12px;
    margin:0 auto;
    margin-top:50px;
}